<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" routerLink="/home">Application manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarsExample03"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="user/profile"> Profile </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/jobs"> Available jobs </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/applications"> Applications </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="user/create/application"> Create application </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="user/create/job"> Create job </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>  -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/login">Login</a>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
    </ul>
</nav>