<div class="card text-center mt-5" *ngIf="currentJob && currentUser">
  <div class="card-header text-capitalize font-weight-bold d-flex justify-content-between align-items-center">
    <div class="col-md-3">
      <button routerLink="/jobs" class="btn btn-warning" *ngIf="currentUser.role === 'user'"> Back to all jobs
      </button>
      <button routerLink="/employer/profile" class="btn btn-warning" *ngIf="currentUser.role === 'employer'">
        Back to profile </button>
    </div>
    <span class="col-md-6 text-center text-muted"> {{ currentJob.jobPosition }} </span>
    <div class="col-md-3">
      <div *ngIf="currentUser.role === 'user'">
        <button class="btn btn-success col-sm-4" *ngIf="!isSubmittedAlready" (click)="sendApplication()"> Apply </button>
        <button class="btn btn-danger col-sm-4" *ngIf="isSubmittedAlready" (click)="cancelApplication()"> Cancel applying
        </button>
      </div>
      <button class="btn btn-primary col-sm-4" *ngIf="currentUser.role === 'employer'"> Delete job </button>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text" *ngIf="currentJob.advantages"> {{ currentJob.advantages }} </p>
    <div class="row border-top border-bottom">
      <!-- col 1 -->
      <div class="col-md-7 pt-4">
        <div class="tableReq">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" colspan="2" class="text-uppercase"> More information </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-capitalize">
                <th scope="row"> Job category </th>
                <td> {{ currentJob.jobCategory }} </td>
              </tr>
              <tr class="text-capitalize">
                <th scope="row"> Required degree </th>
                <td> {{ currentJob.degree }} </td>
              </tr>
              <tr class="text-capitalize">
                <th scope="row"> Required english level </th>
                <td> {{ currentJob.englishLevel }} </td>
              </tr>
              <tr>
                <th scope="row"> Salary </th>
                <td> {{ currentJob.salary }} euro </td>
              </tr>
              <tr>
                <th scope="row"> Posted by </th>
                <td> {{ currentJob.authorName }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /col 1 -->
      <!-- col 2 -->
      <div class="col-md-5 text-center py-4">
        <div class="tableReq">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" colspan="2" class="text-uppercase"> Required technologies </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-capitalize" *ngFor="let requirment of currentJob.requiredSkills"
                class="text-muted text-capitalize">
                <td> {{ requirment }} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--  -->
      </div>
      <!-- /col 2 -->
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>