<div class="card text-center mt-5" *ngIf="currentJob">
  <div class="card-header text-capitalize font-weight-bold">
    {{ currentJob.jobPosition }}
  </div>
  <div class="card-body">
    <p class="card-text" *ngIf="currentJob.advantages"> {{ currentJob.advantages }} </p>
    <div class="row border-top border-bottom">
      <!-- col 1 -->
      <div class="col-md-7 pt-4">
        <div class="tableReq mt-4">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" colspan="2" class="text-uppercase"> More information </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-capitalize">
                <th scope="row"> Job category </th>
                <td> {{ currentJob.jobCategory }} </td>
              </tr>
              <tr class="text-capitalize">
                <th scope="row"> Required degree </th>
                <td> {{ currentJob.degree }} </td>
              </tr>
              <tr class="text-capitalize">
                <th scope="row"> Required english level </th>
                <td> {{ currentJob.englishLevel }} </td>
              </tr>
              <tr>
                <th scope="row"> Salary </th>
                <td> {{ currentJob.salary }} euro </td>
              </tr>
              <tr>
                <th scope="row"> Posted by </th>
                <td> {{ currentJob.authorName }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /col 1 -->
      <!-- col 2 -->
      <div class="col-md-5 text-center py-4">
        <div class="tableReq mt-4">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" colspan="2" class="text-uppercase"> Required technologies </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-capitalize" *ngFor="let requirment of currentJob.requiredSkills"
                class="text-muted text-capitalize">
                <td> {{ requirment }} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--  -->
      </div>
      <!-- /col 2 -->
    </div>
  </div>
  <div class="card-footer text-muted">
    <button routerLink="/jobs" class="btn btn-primary col-sm-4" *ngIf="userRole === 'user'"> Back to all jobs </button>
    <button routerLink="/employer/profile" class="btn btn-primary col-sm-4" *ngIf="userRole === 'employer'"> Back to profile </button>
  </div>
</div>