<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="tryRegisterAsEmployer()" [formGroup]="registerForm">
                <div class="card card-body bg-light">
                    <h3 class="text-center mb-4"> {{ currentUrlSegment === 'employer' ? 'Sign-up as employer' : 'Sign-up as user'}} </h3>
                    <!-- Nav tab bar -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/user/register"><img src="../../../../assets/icons/user/register.png" alt="ico"/> As user </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentUrlSegment === 'employer'" routerLink="/employer/register/"><img src="../../../../assets/icons/employer/register.png" alt="ico"/> As employer </a>
                        </li>
                    </ul>
                    <!-- /nav tab -->
                    <fieldset class="mt-4">
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Employer name" formControlName="name"
                                type="text">
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="E-mail Address" formControlName="email"
                                type="text">
                        </div>
                        <div formGroupName="passwords">
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Password" formControlName="password"
                                    type="password">
                            </div>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Confirm Password"
                                    formControlName="repeatPassword" type="password">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Phone number" formControlName="phone"
                                type="text">
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Employer logo url" formControlName="logo"
                                type="text">
                        </div>
                        <div class="form-group">
                            <h6 class="text-center"> More info about the company </h6>
                            <textarea class="form-control" rows="3" formControlName="moreInfo"></textarea>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            [disabled]="false"> Sign Me Up </button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>