<div class="jumbotron text-center">
  <h2 class="card-title h2"> Application manager </h2>
  <p class="blue-text my-4 font-weight-bold"> To see the whole functionality, you should sign up and sign in. </p>
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 pb-2">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio
        exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati
        numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio
        exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati
        numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio
        exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati
        numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio
        exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati
        numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <button type="button" routerLink="/user/register" class="btn btn-primary mr-2 col-md"> Register </button>
    <button type="button" routerLink="/user/login" class="btn btn-primary ml-2 col-md"> Login </button>
  </div>
</div>