<div class="container emp-profile mt-5" *ngIf="currentEmployer">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{currentEmployer.logo}}" alt="logo" class="img-max" />
            </div>
            <h4 class="text-uppercase text-center mt-5"> {{ currentEmployer.name }} </h4>
        </div>
        <div class="col-md-8 text-center">
            <table class="table border">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="2" class="text-uppercase"> Profile info </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"> Name </th>
                    <td> {{ currentEmployer.name }} </td>
                  </tr>
                  <tr>
                    <th scope="row"> Email </th>
                    <td> {{ currentEmployer.email }} </td>
                  </tr>
                  <tr>
                    <th scope="row"> Phone </th>
                    <td> {{ currentEmployer.phone }} </td>
                  </tr>
                  <tr>
                    <th scope="row"> Applications submitted </th>
                    <td> {{ currentEmployer.applicationsSubmitted.length }} </td>
                  </tr>
                  <tr>
                    <th scope="row"> Open positions </th>
                    <td>  </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <!-- More info content -->
    <div class="row mt-5 border-top">
        <div class="col-md-12 text-center">
            <h6 class="text-center text-uppercase mt-5"> More info </h6>
            <p class="text-justify"> {{ currentEmployer.moreInfo === "" ? "-".repeat(150) : currentEmployer.moreInfo }}
            </p>
        </div>
    </div>
    <!-- Owned jobs -->
    <app-owned-jobs [ownedJobs]="ownedJobs"></app-owned-jobs>
</div>