<div class="container emp-profile" *ngIf="currentUser">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{currentUser.profilePicture}}" alt="profile picture" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{ currentUser.username }}
                </h5>
                <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Timeline</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="profile-edit-btn" name="btnAddMore" routerLink="edit-profile"> Edit Profile
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work text-center">
                <!-- User's projects link -->
                <p class="text-uppercase"> User's projects </p>
                <a href="{{currentUser.projectsLink}}">
                    {{ currentUser.projectsLink === "" ?  "not added yet" : currentUser.projectsLink}} </a><br />
                <!-- User's profession -->
                <p class="text-uppercase"> Profession </p>
                {{ currentUser.profession === "Select profession" ?  "" : currentUser.profession }} <br />
                <!-- User's role -->
                <p class="text-uppercase"> Role </p>
                {{ currentUser.role }} <br />
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.username }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.email }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.gender }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.phone === "" ?  "not added" : currentUser.phone }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Profession</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.profession === "Select profession" ?  "not added" : currentUser.profession }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Experience</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.experience === "Select experience" ?  "not added" : currentUser.experience }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="row">
                        <div class="col-md-6">
                            <label> Prefered way of communication </label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.preferedWayOfCommunication === "Prefered way of communication" ?  "not added" : currentUser.preferedWayOfCommunication }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label> English Level </label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.englishLevel === "English level" ?  "not added" : currentUser.englishLevel }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Availability</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.availability === "Choose availability" ?  "not added" : currentUser.availability }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Applications submitted</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.applicationsId.length }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Total Projects</label>
                        </div>
                        <div class="col-md-6">
                            <p> {{ currentUser.totalProjects }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 border-top">
        <div class="col-md-4 text-center text-capitalize">
            <app-skills [skillsSelectedByUser]="skillsSelectedByUser"></app-skills>
        </div>
        <div class="col-md-8 text-center">
            <app-more-info [moreInfo]="currentUser.moreInfo"></app-more-info>
        </div>
    </div>
</div>