@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

.body {
    background: url('https://i.pinimg.com/originals/4d/9d/3f/4d9d3f0f71a32bdd3d19d0b572bab2c1.jpg') no-repeat center center fixed;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    min-width: 100%;
}

.container {
    font-family: 'IBM Plex Serif', serif;
}

.card-body {
    text-align: justify;
    color: #f19306;
    background: rgb(47, 46, 46);
    background: -moz-linear-gradient(90deg, rgba(47, 46, 46, 1) 0%, rgba(34, 34, 32, 1) 21%, rgba(34, 34, 32, 1) 86%, rgba(41, 39, 38, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(47, 46, 46, 1) 0%, rgba(34, 34, 32, 1) 21%, rgba(34, 34, 32, 1) 86%, rgba(41, 39, 38, 1) 100%);
    background: linear-gradient(90deg, rgba(47, 46, 46, 1) 0%, rgba(34, 34, 32, 1) 21%, rgba(34, 34, 32, 1) 86%, rgba(41, 39, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2e2e", endColorstr="#292726", GradientType=1);
}

.card-body .title-color {
    background: rgb(242,109,33);
    background: -webkit-linear-gradient(90deg, rgba(242,109,33,1) 0%, rgba(253,167,29,1) 50%, rgba(242,252,69,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.card-body i {
    color: #b44705;
}

.card-body i:hover {
    cursor: pointer;
    border-bottom: 1px solid #b44705;
}
