/* You can add global styles to this file, and also import other style files */

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */

body {
    -ms-overflow-style: none;
    background: url('https://i.pinimg.com/originals/4d/9d/3f/4d9d3f0f71a32bdd3d19d0b572bab2c1.jpg') no-repeat center center fixed;
}
