<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="tryRegister()" [formGroup]="registerForm">
                <div class="card card-body bg-light">
                    <h3 class="text-center mb-4">
                        {{ currentUrlSegment === 'employer' ? 'Register as employer' : 'Register as user'}} </h3>
                    <!-- Nav tab bar -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentUrlSegment === 'user'"
                                routerLink="/user/register"><img src="../../../../assets/icons/user/register.png"
                                    alt="ico" /> As user </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/employer/register/"><img
                                    src="../../../../assets/icons/employer/register.png" alt="ico" /> As employer </a>
                        </li>
                    </ul>
                    <!-- /nav tab -->
                    <fieldset class="mt-4">
                        <!-- username -->
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="First and last name"
                                formControlName="username" type="text">
                            <div class="alert alert-danger alert-dismissible fade show errs"
                                *ngIf="f.username.errors?.required && f.username.touched">
                                <strong>Warning!</strong> Username is required.
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show errs"
                                *ngIf="f.username.errors?.pattern && f.username.touched">
                                <strong>Warning!</strong> Enter first and last name divided by space.
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="E-mail Address" formControlName="email"
                                type="text">
                            <div class="alert alert-danger alert-dismissible fade show errs"
                                *ngIf="f.email.errors?.required && f.email.touched">
                                <strong>Warning!</strong> Email is required.
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show errs"
                                *ngIf="f.email.errors?.pattern && f.email.touched">
                                <strong>Warning!</strong> Email is not valid.
                            </div>
                        </div>
                        <!-- passwords -->
                        <div formGroupName="passwords">
                            <!-- password -->
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Password" formControlName="password"
                                    type="password">
                                <div class="alert alert-danger alert-dismissible fade show errs"
                                    *ngIf="f.passwords.controls.password.errors?.minlength && f.passwords.controls.password.touched">
                                    <strong>Warning!</strong> Passwords min length is 4 chars.
                                </div>
                            </div>
                            <!-- confirm password -->
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Confirm Password"
                                    formControlName="repeatPassword" type="password">
                                    <div class="alert alert-danger alert-dismissible fade show errs"
                                    *ngIf="f.passwords.errors?.passwordsMatch && f.passwords.touched">
                                    <strong>Warning!</strong> Passwords are not matched.
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                            [disabled]="registerForm.invalid"> Register as user </button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>